<VirtualHost *:80>
    ServerName {{ ansible_hostname }}
    DocumentRoot {{ web_root }}

    <Directory {{ web_root }}>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>